In [33]:
import duckdb
from sklearn.preprocessing import LabelEncoder

In [5]:
# Conectar (ou criar) um banco de dados
con = duckdb.connect(database='jus.duckdb', read_only=False)

In [6]:
# Ler os dados do arquivo JSON e criar uma tabela temporária
con.execute("""
    CREATE TABLE decisions AS SELECT * FROM read_json_auto('./data/202202-stj/metadadosPublicacao202202.json');
""")

In [44]:
data = con.execute("SELECT seqDocumento,teor FROM decisions").df()
data

       seqDocumento        teor
0         144948780  Concedendo
1         145620297  Concedendo
2         139579332  Concedendo
3         141816757  Concedendo
4         144148942  Concedendo
...             ...         ...
61361     144531393  Concedendo
61362     143092827  Concedendo
61363     142924179  Concedendo
61364     145440916  Concedendo
61365     144826578  Concedendo

[61366 rows x 2 columns]

In [35]:
teor_type = LabelEncoder()
data['teor'] = teor_type.fit_transform(data['teor'])
data

       seqDocumento           processo  teor
0         144948780   REsp 1890871         1
1         145620297     HC 695900          1
2         139579332     HC 695866          1
3         141816757    Rcl 42334           1
4         144148942     HC 697730          1
...             ...                ...   ...
61361     144531393   REsp 1228590         1
61362     143092827   REsp 1210458         1
61363     142924179  EREsp 1163268         1
61364     145440916     AR 3998            1
61365     144826578   REsp 1042009         1

[61366 rows x 3 columns]

In [42]:
teor_type.classes_

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])