In [3]:
import duckdb
import os
import argostranslate.package
import argostranslate.translate
from tqdm import tqdm
import pandas as pd

In [4]:
con = duckdb.connect(database='jus4.duckdb', read_only=False)

In [3]:
con.execute("CREATE TABLE metadadosPublicacao202202 AS SELECT * FROM read_json_auto('./data/202202-stj/metadadosPublicacao202202.json');")

In [4]:
con.execute("DELETE FROM metadadosPublicacao202202 WHERE teor NOT IN ('Concedendo', 'Negando') or teor IS NULL;")

In [5]:
# tabela de texto dos juiz
con.execute("""
  CREATE TABLE decisions_description (
    ID INT PRIMARY KEY,
    content TEXT,
    summarize TEXT
  );
""")

In [8]:
# Download and install Argos Translate package
argostranslate.package.update_package_index()
available_packages = argostranslate.package.get_available_packages()
package_to_install = next(
    filter(
        lambda x: x.from_code == "pt" and x.to_code == "en", available_packages
    )
)
argostranslate.package.install_from_path(package_to_install.download())

In [9]:
file_paths = []  # para armazenar os caminhos completos dos arquivos
file_names = []  # para armazenar apenas os nomes dos arquivos

# caminhando através do diretório raiz e todos os seus subdiretórios
for dirpath, dirnames, filenames in os.walk('./data/202202-stj/', topdown=True):
    for filename in filenames:
        if filename.endswith('.txt'):
            full_path = os.path.join(dirpath, filename)
            file_paths.append(full_path)
            file_names.append(int(filename.split('.')[0]))

In [20]:
jurisprudencias = pd.read_csv("count_jurisprudencias0-2000.csv")
jurisprudencias

       seqDocumento                              ref       ref_numers  count
0         145522785          t no AREsp 1.621.900/MG                1   2818
1         145501377         t no AREsp. 1.504.312/AL                1   2818
2         145496750              Esp n. 1.740.911/DF                1   2818
3         145496750              1-02.2017.8.26.0576                1   2818
4         145501377           t no REsp 1.816.648/AL                1   2818
...             ...                              ...              ...    ...
25500     145717236  HC no 0627902-36.2020.8.06.0000           627902      1
25501     146031577            t no AREsp 1816495/RS          1816495      1
25502     146038784             t no REsp 1758267/RN          1758267      1
25503     146038784     t no AgRg no REsp 1580246/RS          1580246      1
25504     144948780                A 200910000001130  200910000001130      1

[25505 rows x 4 columns]

In [21]:
df_filtered = jurisprudencias[jurisprudencias['ref_numers'].str.len() > 3]
df_filtered = df_filtered.query('count > 3')
df_filtered

,seqDocumento,ref,ref_numers,count
16733,146030689,t no AREsp 1039553/PR,1039553,25
16734,145494993,t no AREsp 1490629/SP,1490629,25
16741,145495283,t no AREsp 1490629/SP,1490629,25
16742,145495283,t no AREsp 1039553/PR,1039553,25
16747,146030104,t no AREsp 1490629/SP,1490629,25
...,...,...,...,...
22830,146032641,t no AREsp 1720732/PR,1720732,4
22833,143858788,g nos EDcl no AgRg no AREsp 1764481/PR,1764481,4
22835,145050021,g no REsp n. 143071/AM,143071,4
22836,145495303,t nos EREsp 1120356/RS,1120356,4
22838,146031591,cl no AgInt nos EDcl no AREsp 1611603/GO,1611603,4

In [22]:
seqDocumento_ord = 
seqDocumento_ord

array([146030689, 145494993, 145495283, 146030104, 146029836, 146030084,
       145495291, 146030615, 145495279, 146032641, 145494989, 146029798,
       146029800, 146029793, 146032633, 146032629, 145494923, 145495154,
       145495299, 146029857, 145495206, 146029851, 145495285, 145495293,
       146029845, 145495287, 145495277, 145494964, 145494931, 145494948,
       145495301, 145495140, 145494962, 146030561, 145259062, 146257181,
       145716619, 146031467, 145523395, 145550802, 144257048, 145523412,
       142471506, 146030238, 145522690, 146030424, 146030664, 143079424,
       145494911, 145089890, 146257171, 146066318, 146065525, 145520657,
       145519466, 146067178, 145519547, 146066783, 145519343, 145521041,
       145520158, 146066539, 146066572, 146065757, 145519035, 146066265,
       146066301, 145613114, 145613140, 145613134, 145613138, 145613128,
       145613126, 145613130, 145613142, 145613120, 145613118, 145613124,
       145613122, 145613136, 145613116, 145259043, 146257185, 145721738,
       145721839, 145721793, 145259026, 145259048, 145721788, 145721829,
       145721827, 145259028, 143918012, 143858788, 143913893, 143858995,
       143859238, 145721863, 146029653, 145494927, 146030719, 146136017,
       146030593, 145259090, 143465917, 144835867, 146030559, 145938691,
       146030555, 143486995, 144462665, 145124268, 140420607, 146031494,
       146030869, 146030893, 146030891, 145497184, 146030888, 146030875,
       146030884, 146030865, 146030595, 145049702, 145717250, 145495271,
       145496403, 145495707, 146031500, 146030867, 146031496, 146031498,
       146030861, 145496405, 146030839, 146030877, 143630119, 142664287,
       145612936, 146032715, 143224088, 143562504, 144125042, 143558235,
       145049971, 145050020, 145050019, 146136270, 145049769, 145049893,
       143859316, 145717217, 145496752, 146032572, 143318538, 145612940,
       144743419, 145050015, 143300967, 143108153, 145076495, 145612943,
       146031559, 143903240, 145046003, 142870194, 143609150, 143268947,
       145612970, 145612836, 145612838, 146032672, 143482845, 143825461,
       143817409, 142668065, 136938363, 145049623, 146031665, 145049772,
       141816757, 143736326, 144984843, 146030925, 145494940, 146030812,
       145078029, 144914377, 143431959, 142483632, 145716646, 146030805,
       143432840, 146030809, 146030807, 143527328, 144588964, 145495220,
       145028235, 144239525, 140313213, 146031591, 145049873, 145633820,
       146032246, 145050000, 145633158, 145633144, 146030828, 145632979,
       146030836, 145049728, 145495705, 145632995, 146048229, 142345836,
       145089879, 146029772, 145497276, 146030717, 145497399, 145721862,
       145520459, 143117238, 141279576, 146037202, 145520373, 145716671,
       146029692, 146032201, 143130016, 146030108, 146039831, 146030832,
       146151036, 146047884, 145717146, 146047269, 144744407, 145717151,
       146030112, 146032221, 145716650, 145021123, 143487974, 146029779,
       145028597, 146037666, 146030826, 143585523, 145717243, 145634044,
       142467578, 143589947, 145634072, 143963517, 145185793, 143487613,
       145716624, 145633556, 143697533, 145050021, 145717143, 145495303])

In [23]:
def process_file(file_info):
    file_path, file_id = file_info
    with open(file_path, 'r') as f:
        content = f.read()
        translatedText = argostranslate.translate.translate(content, "pt", "en")
        try:
          con.execute('INSERT INTO decisions_description (id,content) VALUES (?,?)', (int(file_id), translatedText))
          con.commit()
        except Exception as e:
          if 'violates primary key constraint' not in str(e):
            print(file_id,e)
            raise

In [24]:
for index,doc in tqdm(enumerate(seqDocumento_ord), total=len(seqDocumento_ord)):
  if doc in file_names:
    process_file((file_paths[index], doc))

100%|██████████| 264/264 [2:47:28<00:00, 38.06s/it]

In [6]:
con.execute("SELECT * FROM decisions_description").df()

            ID                                            content summarize
0    145522785  EMENT\nADMINISTRATIVE. COMPETITION POLICY CONF...      None
1    145501377  DECISION > It is treated of habeas corpus impe...      None
2    145496750  DECISION<br> It is considered a special appeal...      None
3    146037675  DECISION<br> It is considered an ordinary appe...      None
4    145049719  DECISION<br> It is treated of habeas corpus im...      None
..         ...                                                ...       ...
267  145633556  DECISION is dealt with by the STATE OF SÃO PAU...      None
268  143697533  DECISION<br> This is the case of the Court of ...      None
269  145050021  DECISION<br> This is the case of a misconduct ...      None
270  145717143  DECISION<br>1. Take care of agravo interposed ...      None
271  145495303  DECISION<br>1. Take care of agravo interposed ...      None

[272 rows x 3 columns]

In [ ]:
con.close()